* {
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.23rem;
}
